{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
    <h1>Modifier mon mot de passe</h1>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    <br/>
    {{ form(form) }}
    <br/>
    <a href="{{ path('account') }}">Retourner sur la page mon compte</a>
    
{% endblock %}
