{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <h3>Filtre</h3>
            {{ form(form) }}
        </div>
    <div class="col-md-9">
        <h3>Nos Produits</h3>
        
        <div class="row products-container">
            {% for product in products %}
                <div class="col-md-4">
                    {% include('products/singleProduct.html.twig') %}
                </div>
            {% endfor %}
             </div>
        </div>
    </div>
{% endblock %}
