{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
<div class="block-small">
    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
    {{ form(form) }}
</div>
{% endblock %}
