body {
    position : relative;
}

#footer-custom {
    position : absolute !important;
    width : 100%;
    height : 4%;
    text-align : center;
    padding-top : 1%;
    bottom : 0% !important;
    background: #f4f8ff;
}

.product-page-price {
    font-size : 19px;
}

.products-container {
    margin-bottom : 5%;
}

.products-item h5 {
    text-transform : uppercase;
    font-size : 15px;
    margin-bottom : 1px;
}

.products-item {
    margin-top : 50px;
}

.products-item .products-subtitle {
    font-size : 14px;
    display : block;
    margin-bottom : 10px;
}

.products-item .products-price {
    font-size : 14px;
}

.cart-icon{
    height : 20px;
    padding-left : 10px;
    padding-top : 3px;
}

.connected {
    margin-top : 5%;
}

.block-small {
    max-width : 600px;
    margin : 0 auto;
}

.form-check {
    background: #f4f8ff;
    padding : 20px 65px;
    margin-top : 7px;
}

.col-form-label {
    font-weight : bold;
}

.order-summary {
    background : #f4f8ff;
    padding : 20px;
    margin-top : 20px;
}

.label {
    padding-top: 6px;
}

.recap {
    padding-left: 10%;
}

.center {
    text-align : center;
}

.account-item {
    background: #f1f2f6;
    text-align: center;
    height: 100px;
    width: 300px;
    line-height: 100px;
}

.account-item a {
    text-transform: uppercase;
    font-size: 13px;
    color : #4b6584;
    font-weight : bold;
}

.account-item a:hover{
    text-decoration: none;
    color : #778ca3;
}