{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
    <div class="small-block">
       <h2>Page introuvable</h2>
       <p>Désolé, cette page ne semble pas être acccessible pour le moment.</p>
       <a href="{{ path('home') }}" class="btn btn-info">Revenir à l'accueil</a>
    </div>    
{% endblock %}